nav{
    display: flex;
    justify-content: space-between;
    text-align-last: center;
    text-decoration: none;
    background-color: pink;
}
.nav-links{
    text-align: center;
    flex: 1;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding-left: 15px;
    padding-right: 8px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    margin-top: 4px;
    margin-right: 15px;
    margin-left: 5px;
    cursor: pointer;  
}
.nav-links ul li a:hover{
    color: rebeccapurple;
    transition: 0.2s;
    background: rebeccapurple;
    background: transparent;
    border: 2px solid rebeccapurple;
    border-radius: 3px; 
}
.nav-links ul li a{
    text-decoration: none;
    color : black;
}
.text-box a{
    margin-left: 85%;
    margin-bottom: 5%; 
}
#navbar{
    background-color: pink;
    padding: 0;
    margin: 0;
}
#navbar img{
    width: 150px;
    margin-left: 45%;
    margin-bottom: 0;
    margin-top: 0;
}
.hero-btn{ 
    text-decoration: none;
    color: rgb(240, 236, 236);
    border: 1px solid rgb(243, 145, 145);
    text-align: right;
    font-size: 15px;
    background: black;
    margin-bottom: 2%;
    padding: 20px;
    cursor: pointer;
}
.hero-btn:hover{
    background-color: rgb(147, 108, 186);
    transition: 1s;
    color: pink;
    border: 2px solid;
    border-radius: 3px;
}
nav .fa{
    display: none;
}
@media(max-width :576px){

    .nav-links ul li {
        display: block;
    }
    .nav-links{
       position: absolute;
       background:pink;
       height: 98vh;
       width: 270px;
       padding-top: 15px;
       top: 0;
       right: 0;
       text-align: left;
       z-index: 2;
    }
    .text-box a{
        margin-left: 85%; 
    }
    .hero-btn{ 
        text-decoration: none;
        color: rgb(240, 236, 236);
        border: 1px solid rgb(243, 145, 145);
        text-align: right;
        font-size: 15px;
        background: black;
        cursor: pointer;
    } 
}

.location-duration{
    background-color:  rgba(241, 236, 245, 0.879);
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
.loc-hr{
    text-align: center;
    padding-left: 10%;
    padding-top: 4%;
    font-weight: 400;
    font-size: 35px;
}
.parent{
    display: flex;
}
.loc{
    padding-top: 40px;
    padding-left: 44.2%;
    font-weight: 80;
    font-style: italic;
    font-size: 25px;  
}
.loc a{
    text-decoration: none;
    color: rgb(137, 132, 132); 
}
.loc:hover a{
    color: black;
    transition: 0.2s;
}
.hrs{
    font-size: 25px;
    font-style: italic;
    margin-left: 10%;
    padding-top: 2.5%;
 }
.direction{
    margin-left: 30px;
   margin-top: -210px;
   padding-bottom: 30px;
}
#footer{
    background-color: black;
    padding-bottom: 100px;
   

}
.footer{
    color: #fff;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.newsletter{
    padding-left: 33%;
    padding-top: 5%;
}
.footer p{
    font-size: 20px;
    padding-bottom: 10px;
}
.button1{
    background:#ffff;
    color: black;
    font-size: 20px;
    margin-top: 3px;
    height: 54px;
    padding: 10px 10px;
    text-align: center;   
}
.newsletter input[type="email"]{
    padding: 6px;
    height: 35px;
    width: 350px;
    font-size: 15px;
    border-radius: 5px;
    background: black;
    color: #ffff;
}
.news-letter{
    background-color: black;
    display: flex;
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.news-letter h4{
    padding-left: 5%;
    color: #ffff;
    font-weight: 0;
}
.social-icons .fa{
    color: #ffff;
    cursor: pointer;
    float: right;
    margin-left: 4%;
    margin-right: 2%;  
}
.line{
    display: inline-block;
}
.location{
    text-align: center;
    background-color: black;
    color: #fff;
}
.location h4{
    padding-top: 3%;
    font-weight: 0;
}
.location p{
    padding-top: 2%;
    padding-bottom: 5%;
}